<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="add" id="addModel">
    <div class="ui mini modal caution" id="add" style="margin-bottom: 20%;width: 600px;height: 400px;overflow: hidden">
        <div class="header">
            新增元器件
        </div>
        <div class="sizer content_header" style="margin-left: 5%;margin-right: 5%;">
        <form class="ui form" id="addForm">
            <div class="field" style="text-align: left;">
                <label style="font-size: small">元器件类型:</label>
                <input placeholder="元器件类型" type="text" name="type" id="addCompoentType" />
            </div>
            <div class="field" style="text-align: left;">
                <label style="font-size: small">元器件名称：</label>
                <input placeholder="元器件名称" type="text" name="name" id="addCompoentName" />
            </div>

            <div class="field" style="text-align: right;">
                <label style="font-size: small">&nbsp;</label>
               <textarea id="addIntroduce" placeholder="描述器件" name="introduce">

               </textarea>
            </div>
        </form>
        <div class="actions">
            <div id ="submitBtn" class="ui primary button" onclick="submit()">提交</div>
            <div class="ui primary button"  onclick="cancleBtn()">取消</div>
        </div>
        </div>
    </div>
</div>